.row {
  background-color: #e5e5e5;
  margin: 0;
}

.accommodation {
  text-align: center;
  margin: 50px 0px 0px 0px;
  font-family: "Quintessential", cursive;
}

.stay-safe {
  font-family: "Quintessential", cursive;
  font-style: normal;
  color: #453435;
  margin-bottom: 30px;
}
.welcome {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  color: #453435;
}
.title {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  color: #453435;
}
.p {
  font-family: "Poppins" sans-serif;
  color: #453435;
}
