.footer {
  background-color: #000000;
  padding: 50px;
  margin-top: 50px;
}
.round {
  padding: 5px 8px;
  margin: 5px;
  border: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: #ffffff;
}
